body{
    background-color: rgb(1, 1, 29);
    color: rgb(14, 2, 48);
}
p{
    margin:10px 10px;
    line-height: 20px;
    color: aqua;
    text-align: center;
}
article+article{
    padding: 80rem;
}